body {
    -webkit-font-smoothing: antialiased;
    font: 10px $font-reg;
    color: $primary-text-color;
}

p,
li,
span,
button,
input,
textarea,
figcaption,
div,
section,
p a {
    @include base-text();
}

p,
figcaption,
ol,
input,
textarea, {
    margin-bottom: $margin-3;
}

b, strong {
    font-family: $font-semi;
}

em {
    font-family: $font-reg-italic;
}

h1 {
    @include headline();
}

h2 {
    @include headline-two();
}

h3 {
    @include title();
}

p a, li a {
    @include inline-link();
}

p span {
    color: $secondary-text-color;
}

ol {
    @include ordered();
}

section {
    @include section();
}

hr {
    @include divide-horizontal();
}

input[type="submit"] {
    @include btn();
    @include btn-submit();
}

button {
    @include btn();
}
