body {
    -webkit-font-smoothing: antialiased;
    font: 10px $font-reg;
    color: $primary-text-color;
}

p,
li,
span,
button,
input,
textarea,
figcaption,
div,
section,
p a {
    @include base-text();
}

p,
figcaption,
ol,
input,
textarea,
select {
    margin-bottom: $margin-3;
}

b, strong {
    font-family: $font-semi;
}

em {
    font-family: $font-reg-italic;
}

h1 {
    @include headline();
}

h2 {
    @include headline-two();
}

h3 {
    @include headline-three();
}

h4 {
    @include title();
}

p a, li a {
    @include inline-link();
}

p span {
    color: $secondary-text-color;
}

ol {
    @include ordered();
}

section {
    @include section();
}

hr {
    @include divide-horizontal();
}

label {
    display: inline-block;
    margin-bottom: $margin-1;
    text-transform: uppercase;
}

input {
    @include input-text();
}

input[type="submit"] {
    @include btn();
    @include btn-submit();
}

input[type="checkbox"] {

}

textarea {
    @include input-text();
}

select {
    @include input-text();
    @include select();
}

option {
    padding: $padding-2;
}

button {
    @include btn();
}
