@mixin base-text($color: "inherit") {
    font-size: $fontsize-xs;
    line-height: $line-height;
    @media #{$breakpoint-sm-up} {
        font-size: $fontsize-sm;
    }
    @media #{$breakpoint-md-up} {
        font-size: $fontsize-sm;
    }
    @media #{$breakpoint-lg-up} {
        font-size: $fontsize-base;
    }
}

@mixin headline($color: "inherit") {
    margin-bottom: $margin-3;
    display: block;
    font-family: $font-exbold;
    font-size: $fontsize-lg;
    color: $color;
    line-height: $line-height;
    @media #{$breakpoint-sm-up} {
        font-size: $fontsize-xl;
    }
    @media #{$breakpoint-md-up} {
        font-size: $fontsize-xl;
    }
    @media #{$breakpoint-lg-up} {
        font-size: $fontsize-2xl;
    }
}

@mixin headline-two($color: "inherit") {
    margin-bottom: $margin-3;
    display: block;
    font-family: $font-semi;
    font-size: $fontsize-base;
    color: $color;
    line-height: $line-height;
    @media #{$breakpoint-sm-up} {
        font-size: $fontsize-lg;
    }
    @media #{$breakpoint-md-up} {
        font-size: $fontsize-lg;
    }
    @media #{$breakpoint-lg-up} {
        font-size: $fontsize-xl;
    }
}

@mixin headline-three($color: "inherit") {
    margin-bottom: $margin-3;
    display: block;
    font-family: $font-med;
    font-size: $fontsize-sm;
    color: $color;
    line-height: $line-height;
    @media #{$breakpoint-sm-up} {
        font-size: $fontsize-base;
    }
    @media #{$breakpoint-md-up} {
        font-size: $fontsize-base;
    }
    @media #{$breakpoint-lg-up} {
        font-size: $fontsize-lg;
    }
}

@mixin title($color: "inherit") {
    margin-bottom: $margin-3;
    display: block;
    font-family: $font-light;
    font-size: $fontsize-xs;
    color: $color;
    line-height: $line-height;
    text-transform: uppercase;
    @media #{$breakpoint-sm-up} {
        font-size: $fontsize-sm;
    }
    @media #{$breakpoint-md-up} {
        font-size: $fontsize-sm;
    }
    @media #{$breakpoint-lg-up} {
        font-size: $fontsize-base;
    }
}

@mixin inline-link() {
    color: $purple;
    text-decoration: none;
    border-bottom: 2px solid $link-color;
    transition: all $animation-duration-standard ease-out;
    &:hover {
        color: $link-color-hover;
        border-bottom: 2px solid $link-color-hover;
    }
    &:focus {
        color: $link-color-focus;
        border-bottom: 2px solid $link-color-focus;
    }
}

@mixin bulleted() {
    margin: 0 0 $margin-3 $margin-4;
    list-style: circle;
}

@mixin ordered() {
    counter-reset: counter;
    & > li {
      position: relative;
      margin: 0 0 $margin-1 $margin-6;
      &:before {
        content: counter(counter);
        counter-increment: counter;
        position: absolute;
        left: -$margin-6;
        width: 1.8em;
        height: 1.8em;
        background-color: $primary-text-color;
        border-radius: $rounded;
        font-size: $fontsize-xs;
        text-align: center;
        color: $white;
      }
    }
}
