@mixin section() {
    padding: $padding-4;
    display: block;
    background-color: $slate-light;
    @media #{$breakpoint-sm-up} {
        padding: $padding-5;
    }
    @media #{$breakpoint-md-up} {
        padding: $padding-6;
    }
}

@mixin card() {
    margin-bottom: $margin-3;
    padding: $padding-3;
    background-color: $white;
    border: 1px solid $slate;
    border-radius: $primary-radius;
    @media #{$breakpoint-sm-up} {
        margin-bottom: $margin-4;
        padding: $padding-4;
    }
    @media #{$breakpoint-md-up} {
        margin-bottom: $margin-5;
        padding: $padding-5;
    }
}

@mixin divide-horizontal() {
    margin: 0 0 $margin-3 0;
    width: 100%;
    height: 1px;
    background-color: $grey-light;
    border: none;
}

@mixin btn() {
    display: inline-block;
    margin: 0 $margin-3 $margin-3 0;
    padding: $padding-2 $padding-4;
    width: fit-content;
    background-color: $grey;
    color: $white;
    border: none;
    border-radius: $primary-radius;
    outline: none;
    box-shadow: 2px 2px 4px 0px rgba(155,155,155,0.7);
    transition: all $animation-duration-standard ease-out;
    cursor: pointer;
    &:hover {
        background-color: $grey-dark;
    }
    &:focus {
        background-color: $grey-light;
    }
    &:focus {
        box-shadow: none;
    }
}

@mixin btn-primary() {
    background-color: $link-color;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $link-color-hover;
    }
    &:focus {
        background-color: $link-color-focus;
    }
}

@mixin btn-secondary() {
    background-color: $white;
    color: $link-color;
    border: 1px solid $link-color;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: $white;
        color: $link-color-hover;
        border: 1px solid $link-color-hover;
    }
    &:focus {
        background-color: $white;
        color: $link-color-focus;
        border: 1px solid $link-color-focus;
    }
}

@mixin btn-submit() {
    font-family: $font-semi;
    text-transform: uppercase;
    color: $white;
    background-color: $blue;
    border: none;
    &:hover {
        background-color: $blue-light;
        border: none;
    }
    &:focus {
        background-color: $blue-dark;
        border: none;
        color: $white;
    }
}

@mixin btn-small() {
    padding: $padding-1 $padding-3;
    border-radius: $secondary-radius;
}

@mixin btn-center() {
    display: flex;
    margin: 0 auto $margin-3 auto;
}

@mixin btn-loading {
    position: relative;
    color: transparent;
    &:before {
        content: "\f110";
        font-family: FontAwesome;
        color: $white;
        position: absolute;
        top: 25%;
        left: 45%;
        animation: spin 2s infinite linear;
    }
    &:focus {
        color: transparent;
    }
    &.btn-secondary {
        color: transparent;
        &:before {
            color: $link-color;
        }
    }
    &.btn-small {
        &:before {
            top: 13%;
        }
    }
}

// Imputs
@mixin image-overlay($url, $color: $slate-dark, $percent: "85%") {
    background: $color url($url) 0 0 no-repeat fixed;
    height: 100%;
    overflow: hidden;
    &:after {
      content: "";
      background-color: $color;
      opacity: $percent;
      width: 100%;
      height: 100%;
    }
}

@mixin input-text() {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $fontsize-xs;
    line-height: $line-height;
    padding: $padding-1 $padding-2;
    width: 100%;
    outline: none;
    border: 1px solid $secondary-text-color;
    border-radius: $secondary-radius;
    background-color: $white;
    color: $secondary-text-color;
    transition: all $animation-duration-standard ease-out;
    &::placeholder {
      color: $secondary-text-color;
    }
    &:focus {
        border-color: $blue;
        color: $primary-text-color;
    }
    @media #{$breakpoint-sm-up} {
        font-size: $fontsize-sm;
    }
    @media #{$breakpoint-md-up} {
        font-size: $fontsize-sm;
    }
    @media #{$breakpoint-lg-up} {
        font-size: $fontsize-base;
    }
}

@mixin input-search() {
    background: url(../../assets/images/magnifying-glass.svg) no-repeat scroll $fontsize-base $fontsize-base;
    background-position: right $padding-2 top $padding-2;
    &:focus {
        background-image: url(../../assets/images/magnifying-glass-active.svg);
    }
}

@mixin select() {
    background: url(../../assets/images/chevron-down.svg) no-repeat scroll $fontsize-base $fontsize-base;
    background-position: right $padding-2 top $padding-3;
    &:focus {
        background-image: url(../../assets/images/chevron-down-active.svg);
    }
}

@mixin checkbox() {
    margin: 0 $margin-1 0 0;
    width: $padding-4;
    height: $padding-4;
    &:checked {
        background: url(../../assets/images/check.svg) no-repeat scroll $fontsize-base $fontsize-base;
        background-position: right .35rem top .2rem;
        background-color: $blue;
        border-color: $blue;
    }
}

@mixin radio() {
    margin: 0 $margin-1 0 0;
    width: $padding-4;
    height: $padding-4;
    border-radius: $rounded;
    &:checked {
        background: url(../../assets/images/radio.svg) no-repeat scroll $fontsize-base $fontsize-base;
        background-position: right .45rem top .4rem;
        background-color: $blue;
        border-color: $blue;
    }
}
