$white: #ffffff;
$black: #000000;
$grey: #4A4A4A;
$grey-dark: #383838;
$grey-light: #9B9B9B;
$grey-extra-light: #CCCCCC;
$slate: #CBD6DE;
$slate-dark: #354152;
$slate-dark-translucent: #rgba(53, 65, 82, 0.85);
$slate-light: #D7E4ED;
$purple: #6E41BE;
$purple-dark: #482A7C;
$purple-light: #995EFF;
$blue: #4A90E2;
$blue-dark: #306EB5;
$blue-light: #54A3FF;
$red: #D0021B;
$red-dark: #9E0113;
$red-light: #EA021D;
$green: #417505;
$green-dark: #1C3A13;
$green-light: #579E06;
$golden-yellow: #F5A623;


$primary-color: $slate-dark;
$secondary-color: $slate-light;

$link-color: $purple;
$link-color-hover: $purple-light;
$link-color-focus: $purple-dark;

$error-color: $red;
$success-color: $green;

$image-overlay: $slate-dark-translucent;
