// Margin
$margin-1: 0.5rem;
$margin-2: 0.75rem;
$margin-3: 1rem;
$margin-4: 1.5rem;
$margin-5: 2rem;
$margin-6: 3rem;

// Padding
$padding-1: 0.3rem;
$padding-2: 0.75rem;
$padding-3: 1rem;
$padding-4: 1.5rem;
$padding-5: 2rem;
$padding-6: 3rem;

// Border radiuses
$primary-radius: 6px;
$secondary-radius: 4px;
$rounded: 100%;

// Animation durations
$animation-duration-fast: 180ms;
$animation-duration-standard: 250ms;
$animation-duration-lazy: 320ms;
$animation-duration-slow: 400ms;
