/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.row {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 2400px; }

.row.reverse {
  flex-direction: row-reverse; }

.row.eq-height {
  align-items: stretch; }

.row.auto-height {
  align-items: flex-start; }

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.start-xs {
  justify-content: flex-start; }

.center-xs {
  justify-content: center; }

.end-xs {
  justify-content: flex-end; }

.top-xs {
  align-items: flex-start; }

.middle-xs {
  align-items: center; }

.bottom-xs {
  align-items: flex-end; }

.around-xs {
  justify-content: space-around; }

.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 641px) {
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .start-sm {
    justify-content: flex-start; }
  .center-sm {
    justify-content: center; }
  .end-sm {
    justify-content: flex-end; }
  .top-sm {
    align-items: flex-start; }
  .middle-sm {
    align-items: center; }
  .bottom-sm {
    align-items: flex-end; }
  .around-sm {
    justify-content: space-around; }
  .between-sm {
    justify-content: space-between; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (min-width: 1025px) {
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .start-md {
    justify-content: flex-start; }
  .center-md {
    justify-content: center; }
  .end-md {
    justify-content: flex-end; }
  .top-md {
    align-items: flex-start; }
  .middle-md {
    align-items: center; }
  .bottom-md {
    align-items: flex-end; }
  .around-md {
    justify-content: space-around; }
  .between-md {
    justify-content: space-between; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media only screen and (min-width: 1441px) {
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .start-lg {
    justify-content: flex-start; }
  .center-lg {
    justify-content: center; }
  .end-lg {
    justify-content: flex-end; }
  .top-lg {
    align-items: flex-start; }
  .middle-lg {
    align-items: center; }
  .bottom-lg {
    align-items: flex-end; }
  .around-lg {
    justify-content: space-around; }
  .between-lg {
    justify-content: space-between; }
  .first-lg {
    order: -1; }
  .last-lg {
    order: 1; } }

@media only screen and (min-width: 1921px) {
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .col-xl-offset-12 {
    margin-left: 100%; }
  .start-xl {
    justify-content: flex-start; }
  .center-xl {
    justify-content: center; }
  .end-xl {
    justify-content: flex-end; }
  .top-xl {
    align-items: flex-start; }
  .middle-xl {
    align-items: center; }
  .bottom-xl {
    align-items: flex-end; }
  .around-xl {
    justify-content: space-around; }
  .between-xl {
    justify-content: space-between; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

.show {
  display: block; }

.hide {
  display: none; }

.show-xs {
  display: block; }

.hide-xs {
  display: none; }

@media only screen and (max-width: 640px) {
  .show-xs-only {
    display: block; }
  .hide-xs-only {
    display: none; } }

@media only screen and (min-width: 641px) {
  .show-sm {
    display: block; }
  .hide-sm {
    display: none; } }

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .show-sm-only {
    display: block; }
  .hide-sm-only {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .show-md {
    display: block; }
  .hide-md {
    display: none; } }

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .show-md-only {
    display: block; }
  .hide-md-only {
    display: none; } }

@media only screen and (min-width: 1441px) {
  .show-lg {
    display: block; }
  .hide-lg {
    display: none; } }

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .show-lg-only {
    display: block; }
  .hide-lg-only {
    display: none; } }

@media only screen and (min-width: 1921px) {
  .show-xl {
    display: block; }
  .hide-xl {
    display: none; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@font-face {
  font-family: "Montserrat-Light";
  src: url(../../assets/fonts/montserrat/Montserrat-Light.ttf); }

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url(../../assets/fonts/montserrat/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../assets/fonts/montserrat/Montserrat-Regular.ttf); }

@font-face {
  font-family: "Montserrat-Italic";
  src: url(../../assets/fonts/montserrat/Montserrat-Italic.ttf); }

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../../assets/fonts/montserrat/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url(../../assets/fonts/montserrat/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url(../../assets/fonts/montserrat/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url(../../assets/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf); }

body {
  -webkit-font-smoothing: antialiased;
  font: 10px "Montserrat-Regular", helvetica, sans-serif;
  color: #4A4A4A; }

p,
li,
span,
button,
input,
textarea,
figcaption,
div,
section,
p a {
  font-size: 1.2rem;
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    p,
    li,
    span,
    button,
    input,
    textarea,
    figcaption,
    div,
    section,
    p a {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1025px) {
    p,
    li,
    span,
    button,
    input,
    textarea,
    figcaption,
    div,
    section,
    p a {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1441px) {
    p,
    li,
    span,
    button,
    input,
    textarea,
    figcaption,
    div,
    section,
    p a {
      font-size: 1.6rem; } }

p,
figcaption,
ol,
input,
textarea {
  margin-bottom: 1rem; }

b, strong {
  font-family: "Montserrat-SemiBold", helvetica, sans-serif; }

em {
  font-family: "Montserrat-Italic", helvetica, sans-serif; }

h1 {
  margin-bottom: 1rem;
  display: block;
  font-family: "Montserrat-ExtraBold", helvetica, sans-serif;
  font-size: 1.8rem;
  color: "inherit";
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    h1 {
      font-size: 2.4rem; } }
  @media only screen and (min-width: 1025px) {
    h1 {
      font-size: 2.4rem; } }
  @media only screen and (min-width: 1441px) {
    h1 {
      font-size: 3rem; } }

h2 {
  margin-bottom: 1rem;
  display: block;
  font-family: "Montserrat-SemiBold", helvetica, sans-serif;
  font-size: 1.6rem;
  color: "inherit";
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    h2 {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 1025px) {
    h2 {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 1441px) {
    h2 {
      font-size: 2.4rem; } }

h3 {
  margin-bottom: 1rem;
  display: block;
  font-family: "Montserrat-Light", helvetica, sans-serif;
  font-size: 1.4rem;
  color: "inherit";
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    h3 {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1025px) {
    h3 {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1441px) {
    h3 {
      font-size: 1.8rem; } }

p a, li a {
  color: #6E41BE;
  text-decoration: none;
  border-bottom: 2px solid #6E41BE;
  transition: all 250ms ease-out; }
  p a:hover, li a:hover {
    color: #995EFF;
    border-bottom: 2px solid #995EFF; }
  p a:focus, li a:focus {
    color: #482A7C;
    border-bottom: 2px solid #482A7C; }

p span {
  color: #9B9B9B; }

ol {
  counter-reset: counter; }
  ol > li {
    position: relative;
    margin: 0 0 0.5rem 3rem; }
    ol > li:before {
      content: counter(counter);
      counter-increment: counter;
      position: absolute;
      left: -3rem;
      width: 1.8em;
      height: 1.8em;
      background-color: #4A4A4A;
      border-radius: 100%;
      font-size: 1.2rem;
      text-align: center;
      color: #ffffff; }

section {
  padding: 1.5rem;
  display: block;
  background-color: #D7E4ED; }
  @media only screen and (min-width: 641px) {
    section {
      padding: 2rem; } }
  @media only screen and (min-width: 1025px) {
    section {
      padding: 3rem; } }

hr {
  margin: 0 0 1rem 0;
  width: 100%;
  height: 1px;
  background-color: #9B9B9B;
  border: none; }

input[type="submit"] {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: #4A4A4A;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  outline: none;
  box-shadow: 2px 2px 4px 0px rgba(155, 155, 155, 0.7);
  transition: all 250ms ease-out;
  cursor: pointer;
  font-family: "Montserrat-SemiBold", helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4A90E2;
  border: none; }
  input[type="submit"]:hover {
    background-color: #383838; }
  input[type="submit"]:focus {
    background-color: #9B9B9B; }
  input[type="submit"]:focus {
    box-shadow: none; }
  input[type="submit"]:hover {
    background-color: #54A3FF;
    border: none; }
  input[type="submit"]:focus {
    background-color: #306EB5;
    border: none;
    color: #ffffff; }

input {
  font-size: 1.4rem;
  line-height: 1.6em;
  padding-left: 0.75rem;
  width: 100%;
  outline: none;
  border: 1px solid #9B9B9B;
  border-radius: 4px;
  color: #9B9B9B;
  transition: all 250ms ease-out; }
  input::placeholder {
    color: #9B9B9B; }
  input:focus {
    border-color: #4A90E2;
    color: #4A4A4A; }
  @media only screen and (min-width: 1025px) {
    input {
      width: 50%; } }

textarea {
  font-size: 1.4rem;
  line-height: 1.6em;
  padding-left: 0.75rem;
  width: 100%;
  outline: none;
  border: 1px solid #9B9B9B;
  border-radius: 4px;
  color: #9B9B9B;
  transition: all 250ms ease-out; }
  textarea::placeholder {
    color: #9B9B9B; }
  textarea:focus {
    border-color: #4A90E2;
    color: #4A4A4A; }
  @media only screen and (min-width: 1025px) {
    textarea {
      width: 50%; } }

select {
  font-size: 1.4rem;
  line-height: 1.6em;
  padding-left: 0.75rem;
  width: 100%;
  outline: none;
  border: 1px solid #9B9B9B;
  border-radius: 4px;
  color: #9B9B9B;
  transition: all 250ms ease-out; }
  select::placeholder {
    color: #9B9B9B; }
  select:focus {
    border-color: #4A90E2;
    color: #4A4A4A; }
  @media only screen and (min-width: 1025px) {
    select {
      width: 50%; } }

option {
  padding: 0.75rem; }

button {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: #4A4A4A;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  outline: none;
  box-shadow: 2px 2px 4px 0px rgba(155, 155, 155, 0.7);
  transition: all 250ms ease-out;
  cursor: pointer; }
  button:hover {
    background-color: #383838; }
  button:focus {
    background-color: #9B9B9B; }
  button:focus {
    box-shadow: none; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.base-text {
  font-size: 1.2rem;
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    .base-text {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1025px) {
    .base-text {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1441px) {
    .base-text {
      font-size: 1.6rem; } }

.base-text-bold {
  font-family: "Montserrat-SemiBold", helvetica, sans-serif; }

.base-text-italic {
  font-family: "Montserrat-Italic", helvetica, sans-serif; }

.error {
  color: #D0021B; }

.success {
  color: #417505; }

.headline {
  margin-bottom: 1rem;
  display: block;
  font-family: "Montserrat-ExtraBold", helvetica, sans-serif;
  font-size: 1.8rem;
  color: "inherit";
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    .headline {
      font-size: 2.4rem; } }
  @media only screen and (min-width: 1025px) {
    .headline {
      font-size: 2.4rem; } }
  @media only screen and (min-width: 1441px) {
    .headline {
      font-size: 3rem; } }

.headline-two {
  margin-bottom: 1rem;
  display: block;
  font-family: "Montserrat-SemiBold", helvetica, sans-serif;
  font-size: 1.6rem;
  color: "inherit";
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    .headline-two {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 1025px) {
    .headline-two {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 1441px) {
    .headline-two {
      font-size: 2.4rem; } }

.title {
  margin-bottom: 1rem;
  display: block;
  font-family: "Montserrat-Light", helvetica, sans-serif;
  font-size: 1.4rem;
  color: "inherit";
  line-height: 1.6em; }
  @media only screen and (min-width: 641px) {
    .title {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1025px) {
    .title {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1441px) {
    .title {
      font-size: 1.8rem; } }

.inline-link {
  color: #6E41BE;
  text-decoration: none;
  border-bottom: 2px solid #6E41BE;
  transition: all 250ms ease-out; }
  .inline-link:hover {
    color: #995EFF;
    border-bottom: 2px solid #995EFF; }
  .inline-link:focus {
    color: #482A7C;
    border-bottom: 2px solid #482A7C; }

.bulleted {
  margin: 0 0 1rem 1.5rem;
  list-style: circle; }

.ordered {
  counter-reset: counter; }
  .ordered > li {
    position: relative;
    margin: 0 0 0.5rem 3rem; }
    .ordered > li:before {
      content: counter(counter);
      counter-increment: counter;
      position: absolute;
      left: -3rem;
      width: 1.8em;
      height: 1.8em;
      background-color: #4A4A4A;
      border-radius: 100%;
      font-size: 1.2rem;
      text-align: center;
      color: #ffffff; }

.margin-1 {
  margin: 0.5rem !important; }

.margin-t-1 {
  margin-top: 0.5rem !important; }

.margin-r-1 {
  margin-right: 0.5rem !important; }

.margin-b-1 {
  margin-bottom: 0.5rem !important; }

.margin-l-1 {
  margin-left: 0.5rem !important; }

.margin-2 {
  margin: 0.75rem !important; }

.margin-t-2 {
  margin-top: 0.75rem !important; }

.margin-r-2 {
  margin-right: 0.75rem !important; }

.margin-b-2 {
  margin-bottom: 0.75rem !important; }

.margin-l-2 {
  margin-left: 0.75rem !important; }

.margin-3 {
  margin: 1rem !important; }

.margin-t-3 {
  margin-top: 1rem !important; }

.margin-r-3 {
  margin-right: 1rem !important; }

.margin-b-3 {
  margin-bottom: 1rem !important; }

.margin-l-3 {
  margin-left: 1rem !important; }

.margin-4 {
  margin: 1.5rem !important; }

.margin-t-4 {
  margin-top: 1.5rem !important; }

.margin-r-4 {
  margin-right: 1.5rem !important; }

.margin-b-4 {
  margin-bottom: 1.5rem !important; }

.margin-l-4 {
  margin-left: 1.5rem !important; }

.margin-5 {
  margin: 2rem !important; }

.margin-t-5 {
  margin-top: 2rem !important; }

.margin-r-5 {
  margin-right: 2rem !important; }

.margin-b-5 {
  margin-bottom: 2rem !important; }

.margin-l-5 {
  margin-left: 2rem !important; }

.margin-6 {
  margin: 3rem !important; }

.margin-t-6 {
  margin-top: 3rem !important; }

.margin-r-6 {
  margin-right: 3rem !important; }

.margin-b-6 {
  margin-bottom: 3rem !important; }

.margin-l-6 {
  margin-left: 3rem !important; }

.margin-1-xs {
  margin: 0.5rem !important; }

.margin-t-1-xs {
  margin-top: 0.5rem !important; }

.margin-r-1-xs {
  margin-right: 0.5rem !important; }

.margin-b-1-xs {
  margin-bottom: 0.5rem !important; }

.margin-l-1-xs {
  margin-left: 0.5rem !important; }

.margin-2-xs {
  margin: 0.75rem !important; }

.margin-t-2-xs {
  margin-top: 0.75rem !important; }

.margin-r-2-xs {
  margin-right: 0.75rem !important; }

.margin-b-2-xs {
  margin-bottom: 0.75rem !important; }

.margin-l-2-xs {
  margin-left: 0.75rem !important; }

.margin-3-xs {
  margin: 1rem !important; }

.margin-t-3-xs {
  margin-top: 1rem !important; }

.margin-r-3-xs {
  margin-right: 1rem !important; }

.margin-b-3-xs {
  margin-bottom: 1rem !important; }

.margin-l-3-xs {
  margin-left: 1rem !important; }

.margin-4-xs {
  margin: 1.5rem !important; }

.margin-t-4-xs {
  margin-top: 1.5rem !important; }

.margin-r-4-xs {
  margin-right: 1.5rem !important; }

.margin-b-4-xs {
  margin-bottom: 1.5rem !important; }

.margin-l-4-xs {
  margin-left: 1.5rem !important; }

.margin-5-xs {
  margin: 2rem !important; }

.margin-t-5-xs {
  margin-top: 2rem !important; }

.margin-r-5-xs {
  margin-right: 2rem !important; }

.margin-b-5-xs {
  margin-bottom: 2rem !important; }

.margin-l-5-xs {
  margin-left: 2rem !important; }

.margin-6-xs {
  margin: 3rem !important; }

.margin-t-6-xs {
  margin-top: 3rem !important; }

.margin-r-6-xs {
  margin-right: 3rem !important; }

.margin-b-6-xs {
  margin-bottom: 3rem !important; }

.margin-l-6-xs {
  margin-left: 3rem !important; }

@media only screen and (min-width: 641px) {
  .margin-1-sm {
    margin: 0.5rem !important; }
  .margin-t-1-sm {
    margin-top: 0.5rem !important; }
  .margin-r-1-sm {
    margin-right: 0.5rem !important; }
  .margin-b-1-sm {
    margin-bottom: 0.5rem !important; }
  .margin-l-1-sm {
    margin-left: 0.5rem !important; }
  .margin-2-sm {
    margin: 0.75rem !important; }
  .margin-t-2-sm {
    margin-top: 0.75rem !important; }
  .margin-r-2-sm {
    margin-right: 0.75rem !important; }
  .margin-b-2-sm {
    margin-bottom: 0.75rem !important; }
  .margin-l-2-sm {
    margin-left: 0.75rem !important; }
  .margin-3-sm {
    margin: 1rem !important; }
  .margin-t-3-sm {
    margin-top: 1rem !important; }
  .margin-r-3-sm {
    margin-right: 1rem !important; }
  .margin-b-3-sm {
    margin-bottom: 1rem !important; }
  .margin-l-3-sm {
    margin-left: 1rem !important; }
  .margin-4-sm {
    margin: 1.5rem !important; }
  .margin-t-4-sm {
    margin-top: 1.5rem !important; }
  .margin-r-4-sm {
    margin-right: 1.5rem !important; }
  .margin-b-4-sm {
    margin-bottom: 1.5rem !important; }
  .margin-l-4-sm {
    margin-left: 1.5rem !important; }
  .margin-5-sm {
    margin: 2rem !important; }
  .margin-t-5-sm {
    margin-top: 2rem !important; }
  .margin-r-5-sm {
    margin-right: 2rem !important; }
  .margin-b-5-sm {
    margin-bottom: 2rem !important; }
  .margin-l-5-sm {
    margin-left: 2rem !important; }
  .margin-6-sm {
    margin: 3rem !important; }
  .margin-t-6-sm {
    margin-top: 3rem !important; }
  .margin-r-6-sm {
    margin-right: 3rem !important; }
  .margin-b-6-sm {
    margin-bottom: 3rem !important; }
  .margin-l-6-sm {
    margin-left: 3rem !important; } }

@media only screen and (min-width: 1025px) {
  .margin-1-md {
    margin: 0.5rem !important; }
  .margin-t-1-md {
    margin-top: 0.5rem !important; }
  .margin-r-1-md {
    margin-right: 0.5rem !important; }
  .margin-b-1-md {
    margin-bottom: 0.5rem !important; }
  .margin-l-1-md {
    margin-left: 0.5rem !important; }
  .margin-2-md {
    margin: 0.75rem !important; }
  .margin-t-2-md {
    margin-top: 0.75rem !important; }
  .margin-r-2-md {
    margin-right: 0.75rem !important; }
  .margin-b-2-md {
    margin-bottom: 0.75rem !important; }
  .margin-l-2-md {
    margin-left: 0.75rem !important; }
  .margin-3-md {
    margin: 1rem !important; }
  .margin-t-3-md {
    margin-top: 1rem !important; }
  .margin-r-3-md {
    margin-right: 1rem !important; }
  .margin-b-3-md {
    margin-bottom: 1rem !important; }
  .margin-l-3-md {
    margin-left: 1rem !important; }
  .margin-4-md {
    margin: 1.5rem !important; }
  .margin-t-4-md {
    margin-top: 1.5rem !important; }
  .margin-r-4-md {
    margin-right: 1.5rem !important; }
  .margin-b-4-md {
    margin-bottom: 1.5rem !important; }
  .margin-l-4-md {
    margin-left: 1.5rem !important; }
  .margin-5-md {
    margin: 2rem !important; }
  .margin-t-5-md {
    margin-top: 2rem !important; }
  .margin-r-5-md {
    margin-right: 2rem !important; }
  .margin-b-5-md {
    margin-bottom: 2rem !important; }
  .margin-l-5-md {
    margin-left: 2rem !important; }
  .margin-6-md {
    margin: 3rem !important; }
  .margin-t-6-md {
    margin-top: 3rem !important; }
  .margin-r-6-md {
    margin-right: 3rem !important; }
  .margin-b-6-md {
    margin-bottom: 3rem !important; }
  .margin-l-6-md {
    margin-left: 3rem !important; } }

@media only screen and (min-width: 1441px) {
  .margin-1-lg {
    margin: 0.5rem !important; }
  .margin-t-1-lg {
    margin-top: 0.5rem !important; }
  .margin-r-1-lg {
    margin-right: 0.5rem !important; }
  .margin-b-1-lg {
    margin-bottom: 0.5rem !important; }
  .margin-l-1-lg {
    margin-left: 0.5rem !important; }
  .margin-2-lg {
    margin: 0.75rem !important; }
  .margin-t-2-lg {
    margin-top: 0.75rem !important; }
  .margin-r-2-lg {
    margin-right: 0.75rem !important; }
  .margin-b-2-lg {
    margin-bottom: 0.75rem !important; }
  .margin-l-2-lg {
    margin-left: 0.75rem !important; }
  .margin-3-lg {
    margin: 1rem !important; }
  .margin-t-3-lg {
    margin-top: 1rem !important; }
  .margin-r-3-lg {
    margin-right: 1rem !important; }
  .margin-b-3-lg {
    margin-bottom: 1rem !important; }
  .margin-l-3-lg {
    margin-left: 1rem !important; }
  .margin-4-lg {
    margin: 1.5rem !important; }
  .margin-t-4-lg {
    margin-top: 1.5rem !important; }
  .margin-r-4-lg {
    margin-right: 1.5rem !important; }
  .margin-b-4-lg {
    margin-bottom: 1.5rem !important; }
  .margin-l-4-lg {
    margin-left: 1.5rem !important; }
  .margin-5-lg {
    margin: 2rem !important; }
  .margin-t-5-lg {
    margin-top: 2rem !important; }
  .margin-r-5-lg {
    margin-right: 2rem !important; }
  .margin-b-5-lg {
    margin-bottom: 2rem !important; }
  .margin-l-5-lg {
    margin-left: 2rem !important; }
  .margin-6-lg {
    margin: 3rem !important; }
  .margin-t-6-lg {
    margin-top: 3rem !important; }
  .margin-r-6-lg {
    margin-right: 3rem !important; }
  .margin-b-6-lg {
    margin-bottom: 3rem !important; }
  .margin-l-6-lg {
    margin-left: 3rem !important; } }

@media only screen and (min-width: 1921px) {
  .margin-1-xl {
    margin: 0.5rem !important; }
  .margin-t-1-xl {
    margin-top: 0.5rem !important; }
  .margin-r-1-xl {
    margin-right: 0.5rem !important; }
  .margin-b-1-xl {
    margin-bottom: 0.5rem !important; }
  .margin-l-1-xl {
    margin-left: 0.5rem !important; }
  .margin-2-xl {
    margin: 0.75rem !important; }
  .margin-t-2-xl {
    margin-top: 0.75rem !important; }
  .margin-r-2-xl {
    margin-right: 0.75rem !important; }
  .margin-b-2-xl {
    margin-bottom: 0.75rem !important; }
  .margin-l-2-xl {
    margin-left: 0.75rem !important; }
  .margin-3-xl {
    margin: 1rem !important; }
  .margin-t-3-xl {
    margin-top: 1rem !important; }
  .margin-r-3-xl {
    margin-right: 1rem !important; }
  .margin-b-3-xl {
    margin-bottom: 1rem !important; }
  .margin-l-3-xl {
    margin-left: 1rem !important; }
  .margin-4-xl {
    margin: 1.5rem !important; }
  .margin-t-4-xl {
    margin-top: 1.5rem !important; }
  .margin-r-4-xl {
    margin-right: 1.5rem !important; }
  .margin-b-4-xl {
    margin-bottom: 1.5rem !important; }
  .margin-l-4-xl {
    margin-left: 1.5rem !important; }
  .margin-5-xl {
    margin: 2rem !important; }
  .margin-t-5-xl {
    margin-top: 2rem !important; }
  .margin-r-5-xl {
    margin-right: 2rem !important; }
  .margin-b-5-xl {
    margin-bottom: 2rem !important; }
  .margin-l-5-xl {
    margin-left: 2rem !important; }
  .margin-6-xl {
    margin: 3rem !important; }
  .margin-t-6-xl {
    margin-top: 3rem !important; }
  .margin-r-6-xl {
    margin-right: 3rem !important; }
  .margin-b-6-xl {
    margin-bottom: 3rem !important; }
  .margin-l-6-xl {
    margin-left: 3rem !important; } }

.padding-1 {
  padding: 0.3rem !important; }

.padding-t-1 {
  padding-top: 0.3rem !important; }

.padding-r-1 {
  padding-right: 0.3rem !important; }

.padding-b-1 {
  padding-bottom: 0.3rem !important; }

.padding-l-1 {
  padding-left: 0.3rem !important; }

.padding-2 {
  padding: 0.75rem !important; }

.padding-t-2 {
  padding-top: 0.75rem !important; }

.padding-r-2 {
  padding-right: 0.75rem !important; }

.padding-b-2 {
  padding-bottom: 0.75rem !important; }

.padding-l-2 {
  padding-left: 0.75rem !important; }

.padding-3 {
  padding: 1rem !important; }

.padding-t-3 {
  padding-top: 1rem !important; }

.padding-r-3 {
  padding-right: 1rem !important; }

.padding-b-3 {
  padding-bottom: 1rem !important; }

.padding-l-3 {
  padding-left: 1rem !important; }

.padding-4 {
  padding: 1.5rem !important; }

.padding-t-4 {
  padding-top: 1.5rem !important; }

.padding-r-4 {
  padding-right: 1.5rem !important; }

.padding-b-4 {
  padding-bottom: 1.5rem !important; }

.padding-l-4 {
  padding-left: 1.5rem !important; }

.padding-5 {
  padding: 2rem !important; }

.padding-t-5 {
  padding-top: 2rem !important; }

.padding-r-5 {
  padding-right: 2rem !important; }

.padding-b-5 {
  padding-bottom: 2rem !important; }

.padding-l-5 {
  padding-left: 2rem !important; }

.padding-6 {
  padding: 3rem !important; }

.padding-t-6 {
  padding-top: 3rem !important; }

.padding-r-6 {
  padding-right: 3rem !important; }

.padding-b-6 {
  padding-bottom: 3rem !important; }

.padding-l-6 {
  padding-left: 3rem !important; }

.padding-1 {
  padding: 0.3rem !important; }

.padding-1-xs {
  padding: 0.3rem !important; }

.padding-t-1-xs {
  padding-top: 0.3rem !important; }

.padding-r-1-xs {
  padding-right: 0.3rem !important; }

.padding-b-1-xs {
  padding-bottom: 0.3rem !important; }

.padding-l-1-xs {
  padding-left: 0.3rem !important; }

.padding-2 {
  padding: 0.75rem !important; }

.padding-2-xs {
  padding: 0.75rem !important; }

.padding-t-2-xs {
  padding-top: 0.75rem !important; }

.padding-r-2-xs {
  padding-right: 0.75rem !important; }

.padding-b-2-xs {
  padding-bottom: 0.75rem !important; }

.padding-l-2-xs {
  padding-left: 0.75rem !important; }

.padding-3 {
  padding: 1rem !important; }

.padding-3-xs {
  padding: 1rem !important; }

.padding-t-3-xs {
  padding-top: 1rem !important; }

.padding-r-3-xs {
  padding-right: 1rem !important; }

.padding-b-3-xs {
  padding-bottom: 1rem !important; }

.padding-l-3-xs {
  padding-left: 1rem !important; }

.padding-4 {
  padding: 1.5rem !important; }

.padding-4-xs {
  padding: 1.5rem !important; }

.padding-t-4-xs {
  padding-top: 1.5rem !important; }

.padding-r-4-xs {
  padding-right: 1.5rem !important; }

.padding-b-4-xs {
  padding-bottom: 1.5rem !important; }

.padding-l-4-xs {
  padding-left: 1.5rem !important; }

.padding-5 {
  padding: 2rem !important; }

.padding-5-xs {
  padding: 2rem !important; }

.padding-t-5-xs {
  padding-top: 2rem !important; }

.padding-r-5-xs {
  padding-right: 2rem !important; }

.padding-b-5-xs {
  padding-bottom: 2rem !important; }

.padding-l-5-xs {
  padding-left: 2rem !important; }

.padding-6 {
  padding: 3rem !important; }

.padding-6-xs {
  padding: 3rem !important; }

.padding-t-6-xs {
  padding-top: 3rem !important; }

.padding-r-6-xs {
  padding-right: 3rem !important; }

.padding-b-6-xs {
  padding-bottom: 3rem !important; }

.padding-l-6-xs {
  padding-left: 3rem !important; }

@media only screen and (min-width: 641px) {
  .padding-1 {
    padding: 0.3rem !important; }
  .padding-1-sm {
    padding: 0.3rem !important; }
  .padding-t-1-sm {
    padding-top: 0.3rem !important; }
  .padding-r-1-sm {
    padding-right: 0.3rem !important; }
  .padding-b-1-sm {
    padding-bottom: 0.3rem !important; }
  .padding-l-1-sm {
    padding-left: 0.3rem !important; }
  .padding-2 {
    padding: 0.75rem !important; }
  .padding-2-sm {
    padding: 0.75rem !important; }
  .padding-t-2-sm {
    padding-top: 0.75rem !important; }
  .padding-r-2-sm {
    padding-right: 0.75rem !important; }
  .padding-b-2-sm {
    padding-bottom: 0.75rem !important; }
  .padding-l-2-sm {
    padding-left: 0.75rem !important; }
  .padding-3 {
    padding: 1rem !important; }
  .padding-3-sm {
    padding: 1rem !important; }
  .padding-t-3-sm {
    padding-top: 1rem !important; }
  .padding-r-3-sm {
    padding-right: 1rem !important; }
  .padding-b-3-sm {
    padding-bottom: 1rem !important; }
  .padding-l-3-sm {
    padding-left: 1rem !important; }
  .padding-4 {
    padding: 1.5rem !important; }
  .padding-4-sm {
    padding: 1.5rem !important; }
  .padding-t-4-sm {
    padding-top: 1.5rem !important; }
  .padding-r-4-sm {
    padding-right: 1.5rem !important; }
  .padding-b-4-sm {
    padding-bottom: 1.5rem !important; }
  .padding-l-4-sm {
    padding-left: 1.5rem !important; }
  .padding-5 {
    padding: 2rem !important; }
  .padding-5-sm {
    padding: 2rem !important; }
  .padding-t-5-sm {
    padding-top: 2rem !important; }
  .padding-r-5-sm {
    padding-right: 2rem !important; }
  .padding-b-5-sm {
    padding-bottom: 2rem !important; }
  .padding-l-5-sm {
    padding-left: 2rem !important; }
  .padding-6 {
    padding: 3rem !important; }
  .padding-6-sm {
    padding: 3rem !important; }
  .padding-t-6-sm {
    padding-top: 3rem !important; }
  .padding-r-6-sm {
    padding-right: 3rem !important; }
  .padding-b-6-sm {
    padding-bottom: 3rem !important; }
  .padding-l-6-sm {
    padding-left: 3rem !important; } }

@media only screen and (min-width: 1025px) {
  .padding-1 {
    padding: 0.3rem !important; }
  .padding-1-md {
    padding: 0.3rem !important; }
  .padding-t-1-md {
    padding-top: 0.3rem !important; }
  .padding-r-1-md {
    padding-right: 0.3rem !important; }
  .padding-b-1-md {
    padding-bottom: 0.3rem !important; }
  .padding-l-1-md {
    padding-left: 0.3rem !important; }
  .padding-2 {
    padding: 0.75rem !important; }
  .padding-2-md {
    padding: 0.75rem !important; }
  .padding-t-2-md {
    padding-top: 0.75rem !important; }
  .padding-r-2-md {
    padding-right: 0.75rem !important; }
  .padding-b-2-md {
    padding-bottom: 0.75rem !important; }
  .padding-l-2-md {
    padding-left: 0.75rem !important; }
  .padding-3 {
    padding: 1rem !important; }
  .padding-3-md {
    padding: 1rem !important; }
  .padding-t-3-md {
    padding-top: 1rem !important; }
  .padding-r-3-md {
    padding-right: 1rem !important; }
  .padding-b-3-md {
    padding-bottom: 1rem !important; }
  .padding-l-3-md {
    padding-left: 1rem !important; }
  .padding-4 {
    padding: 1.5rem !important; }
  .padding-4-md {
    padding: 1.5rem !important; }
  .padding-t-4-md {
    padding-top: 1.5rem !important; }
  .padding-r-4-md {
    padding-right: 1.5rem !important; }
  .padding-b-4-md {
    padding-bottom: 1.5rem !important; }
  .padding-l-4-md {
    padding-left: 1.5rem !important; }
  .padding-5 {
    padding: 2rem !important; }
  .padding-5-md {
    padding: 2rem !important; }
  .padding-t-5-md {
    padding-top: 2rem !important; }
  .padding-r-5-md {
    padding-right: 2rem !important; }
  .padding-b-5-md {
    padding-bottom: 2rem !important; }
  .padding-l-5-md {
    padding-left: 2rem !important; }
  .padding-6 {
    padding: 3rem !important; }
  .padding-6-md {
    padding: 3rem !important; }
  .padding-t-6-md {
    padding-top: 3rem !important; }
  .padding-r-6-md {
    padding-right: 3rem !important; }
  .padding-b-6-md {
    padding-bottom: 3rem !important; }
  .padding-l-6-md {
    padding-left: 3rem !important; } }

@media only screen and (min-width: 1441px) {
  .padding-1 {
    padding: 0.3rem !important; }
  .padding-1-lg {
    padding: 0.3rem !important; }
  .padding-t-1-lg {
    padding-top: 0.3rem !important; }
  .padding-r-1-lg {
    padding-right: 0.3rem !important; }
  .padding-b-1-lg {
    padding-bottom: 0.3rem !important; }
  .padding-l-1-lg {
    padding-left: 0.3rem !important; }
  .padding-2 {
    padding: 0.75rem !important; }
  .padding-2-lg {
    padding: 0.75rem !important; }
  .padding-t-2-lg {
    padding-top: 0.75rem !important; }
  .padding-r-2-lg {
    padding-right: 0.75rem !important; }
  .padding-b-2-lg {
    padding-bottom: 0.75rem !important; }
  .padding-l-2-lg {
    padding-left: 0.75rem !important; }
  .padding-3 {
    padding: 1rem !important; }
  .padding-3-lg {
    padding: 1rem !important; }
  .padding-t-3-lg {
    padding-top: 1rem !important; }
  .padding-r-3-lg {
    padding-right: 1rem !important; }
  .padding-b-3-lg {
    padding-bottom: 1rem !important; }
  .padding-l-3-lg {
    padding-left: 1rem !important; }
  .padding-4 {
    padding: 1.5rem !important; }
  .padding-4-lg {
    padding: 1.5rem !important; }
  .padding-t-4-lg {
    padding-top: 1.5rem !important; }
  .padding-r-4-lg {
    padding-right: 1.5rem !important; }
  .padding-b-4-lg {
    padding-bottom: 1.5rem !important; }
  .padding-l-4-lg {
    padding-left: 1.5rem !important; }
  .padding-5 {
    padding: 2rem !important; }
  .padding-5-lg {
    padding: 2rem !important; }
  .padding-t-5-lg {
    padding-top: 2rem !important; }
  .padding-r-5-lg {
    padding-right: 2rem !important; }
  .padding-b-5-lg {
    padding-bottom: 2rem !important; }
  .padding-l-5-lg {
    padding-left: 2rem !important; }
  .padding-6 {
    padding: 3rem !important; }
  .padding-6-lg {
    padding: 3rem !important; }
  .padding-t-6-lg {
    padding-top: 3rem !important; }
  .padding-r-6-lg {
    padding-right: 3rem !important; }
  .padding-b-6-lg {
    padding-bottom: 3rem !important; }
  .padding-l-6-lg {
    padding-left: 3rem !important; } }

@media only screen and (min-width: 1921px) {
  .padding-1 {
    padding: 0.3rem !important; }
  .padding-1-xl {
    padding: 0.3rem !important; }
  .padding-t-1-xl {
    padding-top: 0.3rem !important; }
  .padding-r-1-xl {
    padding-right: 0.3rem !important; }
  .padding-b-1-xl {
    padding-bottom: 0.3rem !important; }
  .padding-l-1-xl {
    padding-left: 0.3rem !important; }
  .padding-2 {
    padding: 0.75rem !important; }
  .padding-2-xl {
    padding: 0.75rem !important; }
  .padding-t-2-xl {
    padding-top: 0.75rem !important; }
  .padding-r-2-xl {
    padding-right: 0.75rem !important; }
  .padding-b-2-xl {
    padding-bottom: 0.75rem !important; }
  .padding-l-2-xl {
    padding-left: 0.75rem !important; }
  .padding-3 {
    padding: 1rem !important; }
  .padding-3-xl {
    padding: 1rem !important; }
  .padding-t-3-xl {
    padding-top: 1rem !important; }
  .padding-r-3-xl {
    padding-right: 1rem !important; }
  .padding-b-3-xl {
    padding-bottom: 1rem !important; }
  .padding-l-3-xl {
    padding-left: 1rem !important; }
  .padding-4 {
    padding: 1.5rem !important; }
  .padding-4-xl {
    padding: 1.5rem !important; }
  .padding-t-4-xl {
    padding-top: 1.5rem !important; }
  .padding-r-4-xl {
    padding-right: 1.5rem !important; }
  .padding-b-4-xl {
    padding-bottom: 1.5rem !important; }
  .padding-l-4-xl {
    padding-left: 1.5rem !important; }
  .padding-5 {
    padding: 2rem !important; }
  .padding-5-xl {
    padding: 2rem !important; }
  .padding-t-5-xl {
    padding-top: 2rem !important; }
  .padding-r-5-xl {
    padding-right: 2rem !important; }
  .padding-b-5-xl {
    padding-bottom: 2rem !important; }
  .padding-l-5-xl {
    padding-left: 2rem !important; }
  .padding-6 {
    padding: 3rem !important; }
  .padding-6-xl {
    padding: 3rem !important; }
  .padding-t-6-xl {
    padding-top: 3rem !important; }
  .padding-r-6-xl {
    padding-right: 3rem !important; }
  .padding-b-6-xl {
    padding-bottom: 3rem !important; }
  .padding-l-6-xl {
    padding-left: 3rem !important; } }

.radius-1 {
  border-radius: 6px; }

.radius-2 {
  border-radius: 4px; }

.rounded {
  border-radius: 100%; }

.section {
  padding: 1.5rem;
  display: block;
  background-color: #D7E4ED; }
  @media only screen and (min-width: 641px) {
    .section {
      padding: 2rem; } }
  @media only screen and (min-width: 1025px) {
    .section {
      padding: 3rem; } }

.card {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #CBD6DE;
  border-radius: 6px; }
  @media only screen and (min-width: 641px) {
    .card {
      margin-bottom: 1.5rem;
      padding: 1.5rem; } }
  @media only screen and (min-width: 1025px) {
    .card {
      margin-bottom: 2rem;
      padding: 2rem; } }

.divide-horizontal {
  margin: 0 0 1rem 0;
  width: 100%;
  height: 1px;
  background-color: #9B9B9B;
  border: none; }

.btn {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  background-color: #4A4A4A;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  outline: none;
  box-shadow: 2px 2px 4px 0px rgba(155, 155, 155, 0.7);
  transition: all 250ms ease-out;
  cursor: pointer; }
  .btn:hover {
    background-color: #383838; }
  .btn:focus {
    background-color: #9B9B9B; }
  .btn:focus {
    box-shadow: none; }

.btn-primary {
  background-color: #6E41BE;
  border: none;
  cursor: pointer; }
  .btn-primary:hover {
    background-color: #995EFF; }
  .btn-primary:focus {
    background-color: #482A7C; }

.btn-secondary {
  background-color: #ffffff;
  color: #6E41BE;
  border: 1px solid #6E41BE;
  outline: none;
  cursor: pointer; }
  .btn-secondary:hover {
    background-color: #ffffff;
    color: #995EFF;
    border: 1px solid #995EFF; }
  .btn-secondary:focus {
    background-color: #ffffff;
    color: #482A7C;
    border: 1px solid #482A7C; }

.btn-submit {
  font-family: "Montserrat-SemiBold", helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4A90E2;
  border: none; }
  .btn-submit:hover {
    background-color: #54A3FF;
    border: none; }
  .btn-submit:focus {
    background-color: #306EB5;
    border: none;
    color: #ffffff; }

.btn-small {
  padding: 0.3rem 1rem;
  border-radius: 4px; }

.btn-center {
  display: flex;
  margin: 0 auto 1rem auto; }

.btn-loading {
  position: relative;
  color: transparent; }
  .btn-loading:before {
    content: "\f110";
    font-family: FontAwesome;
    color: #ffffff;
    position: absolute;
    top: 25%;
    left: 45%;
    animation: spin 2s infinite linear; }
  .btn-loading.btn-secondary {
    color: transparent; }
    .btn-loading.btn-secondary:before {
      color: #6E41BE; }
  .btn-loading.btn-small:before {
    top: 13%; }
